 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'League Spartan', sans-serif;
}
body{
    background: url(./images/bg-pattern-top-mobile.svg),url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center,bottom right;
}
.container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
.heading{
    color: hsl(300, 43%, 22%);
    text-align: center;
    margin-top: 35px;
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
    width: 375px;
}
h2{
    width: 320px;
    text-align: center;
    padding: 0 0 0 10px;
    margin: 0 0 20px 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color:  hsl(303, 10%, 53%);
}
.ratings{
    width: 320px;
    text-align: center;
    margin: 20px;
}
.rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
}
.ratingText{
    font-size: 16px;
    font-weight: 600;
    color: hsl(300, 43%, 22%);
}
.stars{
    display: flex;
    justify-content: center;
}
.star{
    margin: 5px;
}
.reviews{
    font-size: 10px;
    width: 300px;
}
.review {
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }
.review p{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    line-height: 20px;
}
.image-txt{
    width: 155px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content:space-between; 
    align-items: center;
}
.image-txt > img{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.details p{
    color: hsl(333, 80%, 67%);
    font-size: 12px;
    font-weight: normal;
}
.details > h3{
    font-size:medium;
    line-height: 20px;
} 

